apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: contoso-prod


images:
- name: quay.io/pittar/contoso
  newName: quay.io/pittar/contoso
  newTag: 135d1ea-27258946
resources:
- ../../../../base/01-apps/contoso
