apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - git-task.yaml
  - create-pr-task.yaml
  - tag-and-push-image-task.yaml
  - generate-id-task.yaml
  - dotnet-sdk-task.yaml
  - kustomize-task.yaml

